<% if current_user %>
    <section class='existing-users'>
        <p>Existing Users: </p>
        <% @users.each do |user| %>
            <li><%= user.email %></li>
        <% end %>
    </section>
<% end %>